<div class="top-content">

  <div class="inner-bg ">
      <div class="container-fluid ">
  <div class="row ">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 landing-top">
      <div class="row ">
        <div class="col top-padding">


              <div class="row no-gutters cloud-line ">
                <div class="col-6 col-sm-8 col-md-9 col-lg-9 col-xl-9">
                  <div class="row ">
                        <div class=" col-12 col-sm-3 col-md-2 col-lg-2 col-xl-2 landing-top-Logo">
                          <img src="../../assets/img/backgrounds/Logo.png" alt="Lam Research Logo" height="39" width="114">
                        </div>
                        <div class="col-12 col-sm-9 col-md-10 col-lg-10 col-xl-10 landing-top-left">
                          <h3 class="app_name">WET CLEAN OPTIMIZATION TROUBLESHOOTING APP</h3>
                        </div>
                  </div>
                </div>
                <div class=" col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 logout-top-right">
                    <div class="logout-icon">
                      <img src="../../assets/img/backgrounds/exit_icon.png" alt="exit icon" height="40" width="36">
                    </div>
                    <div class="logut-text">
                      <a href="Login_v2.html"><h3>EXIT</h3></a>
                    </div>
                </div>
              </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col bg_color">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ism_heading">
            <h4>Issue Selection Matrix</h4>
          </div>
          <div class="col">
            <div class="row justify-content-md-center">
              <div class="col-12 col-lg-auto col-md-auto col-sm-6 ism_selections">
                <form>
                  <div class="form-group">
                    <label class="control-label " for="Tool_Family_id">Tool Family</label>
                    <select class="form-control" id="sel_id" >
                    <!--<option value="0">Select ...</option> -->
                      <option value="option">Dielectric</option>
                      <option value="option 2">option 2</option>
                      <option value="option 3">option 3</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="col-12 col-lg-auto col-md-auto col-sm-6 ism_selections">
                <form>
                  <div class="form-group">
                    <label class="control-label " for="Tool_Family_id">Tool Type</label>
                    <select class="form-control" id="sel_id" >
                    <!--<option value="0">Select ...</option> -->
                      <option value="option">Flex 45</option>
                      <option value="option 2">option 2</option>
                      <option value="option 3">option 3</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="col-12 col-lg-auto col-md-auto col-sm-6 ism_selections">
                <form>
                  <div class="form-group">
                    <label class="control-label " for="Tool_Family_id">Issue Observation</label>
                    <select class="form-control" id="sel_id" >
                    <!--<option value="0">Select ...</option> -->
                      <option value="option">Conductance Failure</option>
                      <option value="option 2">option 2</option>
                      <option value="option 3">option 3</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="col-12 col-lg-auto col-md-auto col-sm-6 ism_selections">
                <form>
                  <div class="form-group">
                    <label class="control-label " for="Tool_Family_id">Received Alarm</label>
                    <select class="form-control" id="sel_id" >
                    <!--<option value="0">Select ...</option> -->
                      <option value="option">Confinment ring fails to reach DOWN position</option>
                      <option value="option 2">option 2</option>
                      <option value="option 3">option 3</option>
                    </select>
                  </div>
                </form>
              </div>
             </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row justify-content-center no-gutters">
    <div class="col padding_main ">
      <div class="row justify-content-md-center main_content ">
        <div class="col col-sm-12 col-md-5 col-lg-5 col-xl-5 bg_grey">
          <div class="Troubleshooting cloud-line2"> <h3>Troubleshooting Details</h3></div>
            <div class="scrollbar scrollbar-primary">
              <div class="force-overflow">
                <ol class="list">
                  <li class="list-item">Perform general error checks</li>
                  <li class="list-item">Verify that the DOWN sensor is OK.  Confinment ring down sensor simulate in the diagnose\IO\confinment ring and WAP control window should show DOWN sensor status correctly.</li>
                  <li class="list-item">Verify the can ring drives toward the DOWN sensor and tht confinment ring position_AI.</li>
                  <li class="list-item">Perform general error checks</li>
                  <li class="list-item">Verify that the DOWN sensor is OK.  Confinment ring down sensor simulate in the diagnose\IO\confinment ring and WAP control window should show DOWN sensor status correctly.</li>
                  <li class="list-item">Verify the can ring drives toward the DOWN sensor and tht confinment ring position_AI.</li><li class="list-item">Perform general error checks</li>
                  <li class="list-item">Verify that the DOWN sensor is OK.  Confinment ring down sensor simulate in the diagnose\IO\confinment ring and WAP control window should show DOWN sensor status correctly.</li>
                  <li class="list-item">Verify the can ring drives toward the DOWN sensor and tht confinment ring position_AI.</li>
                </ol>


              </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <!-- Video and Tabs -->
          <div class="col-sm-12 ">
            <div class="tab-container">
              <ul role="tablist" class="nav nav-tabs nav-fill nav-tabs-dark">

              <li class="nav-item"><a href="#d-parts" data-toggle="tab" role="tab" class="nav-link"><span class="icon-screw"></span>PARTS</a></li>
              <li class="nav-item"><a href="#d-documents" data-toggle="tab" role="tab" class="nav-link"><span class="icon-image"></span>DOCUMENTS</a></li>
              <li class="nav-item"><a href="#d-images" data-toggle="tab" role="tab" class="nav-link"><span class="icon-headphones"></span>IMAGES</a></li>
              <li class="nav-item"><a href="#d-video" data-toggle="tab" role="tab" class="nav-link active"><span class="Camera-Icon"></span>VIDEO</a></li>
              </ul>
              <div class="tab-content">
                <div id="d-parts" role="tabpanel" class="tab-pane">
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                  <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                </div>
                <div id="d-documents" role="tabpanel" class="tab-pane">
                  <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi deserunt, rerum.</p>
                </div>
                <div id="d-images" role="tabpanel" class="tab-pane">
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                  <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p></div>
                <div id="d-video" role="tabpanel" class="tab-pane active"><img src="../../assets/img/backgrounds/video-bg.png" style=" width: auto; height: 100%;">
                </div>

              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>

          <div class="row justify-content-center">
              <div class="col-sm-8 footer footer-margin">
                <h5>All contents displayed are Lam property and confidential</h5>
              </div>
          </div>
      </div>
  </div>

</div>